CMakeCache.txt
CMakeFiles/
CMakeFiles/*
Makefile
cmake_install.cmake
runTests
.DS_Store
bin/.DS_Store
bin/3dScanDebug.app
3dScan.xcodeproj
3dScan.xcodeproj/*
3dScan.xcodeproj/project.xcworkspace/xcuserdata/tylerparker.xcuserdatad/UserInterfaceState.xcuserstate
bin/3dScan
bin/libs/*
obj/*